<p>Welcome!</p>
<img src="https://lc-profile-bucket.s3.us-east-2.amazonaws.com/hanmburglar.jpg" 
        alt="Profile Pic placed here"/>

<!--
<div *ngIf="users.id != 1 && users.id != null">
    <div>
        <p>{{users.firstname}} {{users.lastname}}</p>
    </div>
    <div>
    --PROFILE PIC GOES HERE--
    </div>
    <div>
        <p>{{users.age}}</p>
    </div>
    <div>
        <p>{{users.location}}</p>
    </div>
</div>


<div *ngIf="users.id == 1"> --IF USER IS ADMIN...--
    <p>{{users.username}}</p>
    --ADD ADMIN FUNCTIONALITY (BAN USER AND ADD QUESTION) HERE--
</div>
-->