<div class="navbar">
  <app-nav-bar></app-nav-bar>
</div>

<button (click)="goBack()">Back</button>

<table id = "matches" border = 1>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Location</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let m of matches">
    <ng-container *ngIf="users.usersId == m.user1.usersId || users.usersId == m.user2.usersId">
      <td *ngIf="users.firstname != m.user1.firstname">{{ m.user1.firstname }} {{ m.user1.lastname }}</td>
      <td *ngIf="users.firstname != m.user2.firstname">{{ m.user2.firstname }} {{ m.user2.lastname }}</td>
      <td *ngIf="users.firstname != m.user1.firstname">{{ m.user1.age }}</td>
      <td *ngIf="users.firstname != m.user2.firstname">{{ m.user2.age }}</td>
      <td *ngIf="users.firstname != m.user1.firstname">{{ m.user1.gender }}</td>
      <td *ngIf="users.firstname != m.user2.firstname">{{ m.user2.gender }}</td>
      <td *ngIf="users.firstname != m.user1.firstname">{{ m.user1.location }}</td>
      <td *ngIf="users.firstname != m.user2.firstname">{{ m.user2.location }}</td>
      <td>{{ m.matchStatus.statusState }}</td>
      <td><button type="button" class="btn btn-success" (click)="acceptMatch(m, $event)">Accept</button></td>
      <td><button type="button" class="btn btn-danger" (click)="rejectMatch(m)">Reject</button></td>
    </ng-container>
  </tr>
</table>