

<ul>
    <li *ngFor="let q of questions">
      {{ q.question }}
    </li>
  </ul>


<!--<div class="container">
    <h3>Answer personality questions:</h3>
    <div class="formgroup">
        <br>
        <p>Given the options listed, what is your favorite food?</p> <br>
        <select class="form-control" id="grade">
            <option value="1">Italian</option>
            <option value="2">Mexican</option>
            <option value="3">Cheese Burgers</option>
            <option value="4">Chocolate</option>
        </select>
    </div>
    <hr>
    <div class="formgroup">
        <br>
        <p>Given the options listed, what is your preferred pasttime?</p> <br>
        <select class="form-control" id="grade" >
            <option value="1">Arts and Crafts</option>
            <option value="2">Being outdoors</option>
            <option value="3">Watching TV and Sports</option>
            <option value="4">Reading</option>
        </select>
    </div>
    <hr>
    <div class="formgroup">
        <br>
        <p>Given the options listed, what is your ideal vacation?</p> <br>
        <select class="form-control" id="grade">
            <option value="1">A relaxed beach getaway</option>
            <option value="2">A camping trip in the Mountains</option>
            <option value="3">A trip to New Orleans for Mardi Gras</option>
            <option value="4">A culture-based tour of France</option>
        </select>
    </div>
    <hr>

    <button type="submit" (click)="questionSubmission()" id="submit">Submit</button>-->
