<div class="container">
    <h3>Answer personality questions:</h3>
    <div class="formgroup">
        <br>
        <p>What is your favorate food?</p> <br>
        <select class="form-control" id="grade">
            <option value="Answer 1">answer 1</option>
            <option value="Answer 2">answer 2</option>
            <option value="Answer 3">answer 3</option>
        </select>
    </div>
    <hr>
    <div class="formgroup">
        <br>
        <p>What is your hobby?</p> <br>
        <select class="form-control" id="grade">
            <option value="Answer 1">answer 1</option>
            <option value="Answer 2">answer 2</option>
            <option value="Answer 3">answer 3</option>
        </select>
    </div>
    <hr>
    <div class="formgroup">
        <br>
        <p>Question 3</p> <br>
        <select class="form-control" id="grade">
            <option value="Answer 1">answer 1</option>
            <option value="Answer 2">answer 2</option>
            <option value="Answer 3">answer 3</option>
        </select>
    </div>
    <hr>

    <button type="submit"  id="submit">Submit</button>
