.container{
    background-color: rgb(231,172,117);
    width:100%;
   
    
}

.col{
    margin-left: 50px;
    width:60%;
    box-shadow:0px 0px 10px 2px rgb(190, 185, 185);
    border-radius:3px 3px 3px 3px;
    padding:3px;
}

h2{
    text-align: center;
}

.submitbtn{
	margin-top:7%;
	width:50%;
	margin-left:28%;
	 box-shadow:0px 0px 10px 2px grey;
  border-radius:5px 5px 5px 5px;
  height:30px;
  font-size:16px;
  background-color:#00FFFF;
  }

  label{
    margin-left: 10px;
    font-weight: bold;
}