
.container{
    
    background-color: rgb(184, 184, 219);
    width:45%;
    margin-left: 33%;
    margin-top: 1%;
    box-shadow:0px 0px 10px 2px grey;
    border-radius:10px 10px 10px 10px;
    padding: 5px 5px;
    padding-bottom: 15px;
}

.form-control{
    margin-left: 90px;
    width:100%;
    padding:3px;
}

  #submit{
    margin-left: 35%;
    margin-top: 30px;
    padding:3px;
    width:50%;
    background-color: rgb(53, 175, 175);
  }

  h3{
    font-weight: bold; 
  }


p {
  font-weight: bold;
}