.messagePopup   {
    max-width: 300px;
    max-height: 600px;
    box-shadow: 1px 1px 3px black;
    padding: 20px;
        border: 2px solid orange;
        border-radius: 5px;
        text-align: right;
}

.rightSide  {
    text-align: right;
    max-width: 75px;
    max-height: 150px;
}

.leftSide   {
    text-align: left;
    max-width: 75px;
    max-height: 150px;
}

.topButtons {
    text-align: center;
}

button  {
    background-color: cyan;
}

.messager   {
    padding: 10px;
}

#displayButton  {
    width: stretch;
    height: 50px;
}
