<div class="messagePopup">

<button class="row btn btn-primary" (click)="meetUp()">Meet up!</button>
<button class="row btn btn-primary" (click)="reportUser()">Report User</button>


<ul *ngFor="let specificMessage of messageArray">
  <div *ngIf="condition; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock><div class="leftSide">{{specificMessage}}</div></ng-template>
<ng-template #elseBlock><div class="rightSide">{{specificMessage}}</div></ng-template>
</ul>


  <div class="messager">
<input class="col" type="text" (keydown.enter)="sendMessage()" [(ngModel)]="remark">
<button class="row btn btn-primary" (click)="sendMessage()">Submit</button>
</div>

</div>
