.messagePopup   {
    max-width: 200px;
    max-height: 400px;
    box-shadow: 1px 1px 3px black;
    padding: 10px;
        border: 2px solid #F24236;
        border-radius: 5px;
}

.rightSide  {
    text-align: right;
}

.leftSide   {
    text-align: left;
}