
<ng-container *ngIf="!loggedUser; else logged">
  <h1>LooseCoupling</h1>
  <div class="container">
		<p class="lead">Please Login Below:</p>

		
			<div class="form-group">
        <label>Username</label> 
        <input class="form-text" type="text" placeholder="username.."  id="user" [(ngModel)]="username" />
			
			</div>
			
			<div class="form-group">
            <label>Password</label> 
            <input class="form-text" type="password" placeholder="password.."  id="pass" [(ngModel)]="password" (keydown.enter)="login()" />
			</div>
			
			<button type="submit" id="login" (click)="login()">Login</button>  
		
	</div>
  
  
  <!--<div class="navbar">
    <app-nav-bar></app-nav-bar>
</div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        Username:
        <input id="username" type="text" [(ngModel)]="username">
      </li>
      <li class="nav-item">
        Password:
        <input id="password" type="password" [(ngModel)]="password" (keydown.enter)="login()">
      </li>
      <li class="nav-item">
        <button id="loginButton" class="btn btn-primary" (click)="login()">Login</button>
      </li>
    </ul>-->
  </ng-container>
  <ng-template #logged>
    <ul class="navbar-nav mr-auto">    
      <li class="nav-item">
        <div *ngIf="loggedUser">
          <span id="welcome">Welcome! {{loggedUser.user.firstname + " " + loggedUser.user.lastname}}</span>
        </div>
      </li>  
      <li class="nav-item">  
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </li>
    </ul>
  </ng-template>