<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Loose Coupling</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </mat-toolbar-row></mat-toolbar>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Create a Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="First Name"
                  [(ngModel)]="user.firstname"
                  name="firstname"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Last Name"
                  [(ngModel)]="user.lastname"
                  name="lastname"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Age"
                  [(ngModel)]="user.age"
                  name="age"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Gender"
                  [(ngModel)]="user.gender"
                  name="gender"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
               <!--HOW TO TURN INTO SELECT/DROPDOWN MENU W/ PREDEFINED LOCATIONS-->
                <input                    
                  matInput
                  placeholder="Location"
                  [(ngModel)]="user.location"
                  name="location"
                  required
                />                
              </mat-form-field>
            </td>
          </tr>
          <!--NEED PROFILE PIC SELECTION FIELD-->
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="submit()" color="primary">Submit</button>
    </mat-card-actions>
  </mat-card>