<div class="navbar">
  <app-nav-bar></app-nav-bar>
</div>

<h2>Profile</h2>
<div class="container border">
  <ng-container>
    <div class="row">
      <span class="col">First: </span>
      <input class="col" type="text" [(ngModel)]="users.firstname">
    </div>
    <div class="row">
      <span class="col">Last: </span>
      <input class="col" type="text" [(ngModel)]="users.lastname">
    </div>
    <div class="row">
      <span class="col">Gender: </span>
      <input class="col" type="text" [(ngModel)]="users.gender">
    </div>
    <div class="row">
      <span class="col">Age: </span>
      <input class="col" type="text" [(ngModel)]="users.age">
    </div>
    <div class="row">
      <span class="col">Location: </span>
      <input class="col" type="text" [(ngModel)]="users.location">
    </div>
    <div class="row">
      <span class="col">Sexual Preference: </span>
      <input class="col" type="text" [(ngModel)]="users.sexPref">
    </div>
    <div class="row">
      <span class="col">Age Preference: </span>
      <input class="col" type="text" [(ngModel)]="users.agePref">
    </div>
    <button class="row btn btn-primary" (click)="updateProfile()">Submit</button>
  </ng-container>

</div>

  <!-- <tr>
    <td>
      <mat-form-field class="example-full-width" action="upload.php" method ="POST" encType="multipart/form-data"
        handler = "https://lc-profile-bucket.s3.us-east-2.amazonaws.com">
          Upload your desired profile picture:
          <input
            type = file name = profilePic id = profilePic
          /> 
          <input 
            type="submit" value="Upload Image" name="submit"
          />
      </mat-form-field>
    </td>
  </tr> -->