nav {
  background-color: #479ba1;
  height: 85px;
  box-shadow: rgb(0, 0, 0);
  background-image: #f3bdbd;
}

.badge-primary  {
  color: #f6f5ae;
 
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 2em;
    color: #f24236;
  }

li  {
  top: 30%;
  text-align: center;
  font-size: 500%;
  color: #f8a1a1;
  text-shadow: 1px 1px 3px #88887f;
  font-family: Century Gothic, sans-serif;
}